<div class="textAnimate-inner component-inner">
    {{> component this}}
    <div class="textAnimate-widget component-widget">
        <div class="textAnimate-item component-item">
            <div class="textAnimate-latters"></div>
            <div class="textAnimate-latters-description">
                <div>{{{_item.descriptionText}}}</div>
            </div>
        </div>
    </div>
</div>
